.container {
    margin: 15px 15px 15px 15px;
    height: 100%;
    border-radius: 5px;
    border: transparent;
    background-color: burlywood;
    /* background-image: url("https://i.imgur.com/1KVUvyK.png"); */
}

.header {
    display: inline-block;
}

.popup {
    display: block;
    width: 200px;
    height: 300px;
    background-image: url("background-fake.png");
}

.banner {
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    border-radius: 2px;
    text-align: center;
    font-family: "Georgia", serif;
}

.logo {
    text-align: center;
    display: block;
    margin-
}

.login {
    float: right;
    width: 40%;
    margin-right: 5%;
    margin-top: 15px;
}